<div class="inner-container" ng-repeat="team in allTeamData">
	<div class="team-container">
	  <div class="logo">
	    <img ng-src="{{ team.teamLogo }}">
	  </div>
	  <div class="record">
		<p>{{ team.homeTeamDisplay }}</p>
	  <p> Wins: {{ team.wins }} Losses: {{ team.losses }} </p>
	  </div>

	  <div>
	    <div class="game" ng-repeat="game in team | orderBy:'createdAt':true" ng-class="{'even' : $index % 2 === 0}">
	      Date: {{ game.createdAt | date }}<br />
	      {{ team.homeTeamDisplay }} - {{ game.homeTeamScore }} <br />
	      {{ game.opponent }} - {{ game.opponentScore }} </br />
	    </div>
	  </div>
  </div>
</div>